<table class="table">
	<tr ng-if="withNfc">
		<td>NFC Tag ID</td>
		<td>{{nfcRegistered[1]}}</td>
	</tr>
	<tr>
		<td>First Name</td>
		<td>{{userRegistered[1]}}</td>
	</tr>
	<tr>
		<td>Middle Name</td>
		<td>{{userRegistered[2]}}</td>
	</tr>
	<tr>
		<td>Last Name</td>
		<td>{{userRegistered[3]}}</td>
	</tr>
	<tr>
		<td>Age</td>
		<td>{{userRegistered[4]}}</td>
	</tr>
	<tr>
		<td>Gender</td>
		<td>{{userRegistered[5]}}</td>
	</tr>
	<tr>
		<td>Race</td>
		<td>{{userRegistered[6]}}</td>
	</tr>
	<tr>
		<td>DOB</td>
		<td>{{userRegistered[7]}}</td>
	</tr>
	<tr>
		<td>Has ID</td>
		<td>{{userRegistered[13]}}</td>
	</tr>
</table>

<div ng-if="withPOB">
	Place of Birth
	<table class="table">
		<tr>
			<td>Hospital</td>
			<td>{{pobRegistered[1]}}</td>
		</tr>
		<tr>
			<td>City</td>
			<td>{{pobRegistered[2]}}</td>
		</tr>
		<tr>
			<td>County</td>
			<td>{{pobRegistered[3]}}</td>
		</tr>
		<tr>
			<td>State</td>
			<td>{{pobRegistered[4]}}</td>
		</tr>
	</table>
</div>

<div ng-if="withParents">
	Parents' Full Name
	<table class="table">
		<tr>
			<td>Father's Full Name</td>
			<td>{{parentsRegistered[1]}}</td>
		</tr>
		<tr>
			<td>Mother's Full Name</td>
			<td>{{parentsRegistered[2]}}</td>
		</tr>
	</table>
</div>

<button class="btn btn-default" type="button"><a ui-sref="home.main">OK</a></button>