<button type="button" class="btn btn-sm btn-default"><a ui-sref="home.register_user">New User</a></button>


<input type="text" class="form-control" placeholder="Search" ng-model="filterWord" >
<table class="table">
	<thead>
		<tr>
			<th>DBID <span class="glyphicon glyphicon-sort" ng-click="sorter = 'dbid'; reverse = !reverse"></span></th>
			<th>Name <span class="glyphicon glyphicon-sort" ng-click="sorter = 'name'; reverse = !reverse"></span></th>
			<th>NFC Tag <span class="glyphicon glyphicon-sort" ng-click="sorter = 'device'; reverse = !reverse"></span></th>
			<th>Date of Birth <span class="glyphicon glyphicon-sort" ng-click="sorter = 'dob'; reverse = !reverse"></span></th>
			<th>Age <span class="glyphicon glyphicon-sort" ng-click="sorter = 'age'; reverse = !reverse"></span></th>
			<th>Gender <span class="glyphicon glyphicon-sort" ng-click="sorter = 'gender'; reverse = !reverse"></span></th>
			<th>Race <span class="glyphicon glyphicon-sort" ng-click="sorter = 'race'; reverse = !reverse"></span></th>
			<th>Available Info <span class="glyphicon glyphicon-sort" ng-click="sorter = 'info'; reverse = !reverse"></span></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in usersArr | orderBy: sorter : reverse | filter: filterWord">
			<td>{{user.dbid}}</td>
			<td><span class="userDetail" ng-click="showDetail($index)"><a ui-sref="home.userDetail">{{user.name}}</a></span></td>
			<td>{{user.device}}</td>
			<td>{{user.dob}}</td>
			<td>{{user.age}}</td>
			<td>{{user.gender}}</td>
			<td>{{user.race}}</td>
			<td>{{user.info}}</td>
		</tr>
	</tbody>
</table>
